<!-- views/partials/navbar.ejs -->

<nav class="navbar">
    <div class="navbar-left">
        <a href="/">
            <img src="/img/favicon.ico" alt="Logo">
            <span>SkillBridge</span>
        </a>
    </div>
    <div class="navbar-center">
        <input type="text" class="navbar-search" name="searchbar" placeholder="Cerca">
    </div>
    <div class="navbar-right">
        <button class="btn search-btn" aria-label="Cerca">
            <i class="bx bx-search"></i>
        </button>
        <button class="btn chat-btn" aria-label="Chat">
            <i class="bx bx-chat"></i>
        </button>
        <button class="btn theme-btn" aria-label="Tema">
            <i class="bx bx-sun"></i>
        </button>
        <!-- Menu contestuale per il profilo -->
        <div class="navbar-profile-wrapper">
            <button class="btn" aria-label="Profilo">
                <img src="/img/profile.png" alt="Profile" class="navbar-profile">
            </button>
            <div class="profile-menu">
                <ul>
                    <li>
                        <a href="/profile">
                            <i class="bx bx-user"></i>
                            Profilo
                        </a>
                    </li>
                    <li>
                        <a href="#" id="info-link">
                            <i class="bx bx-info-circle"></i>
                            Informazioni
                        </a>
                    </li>
                    <li>
                        <form action="/logout" method="POST">
                            <button type="submit">
                                <i class="bx bx-log-out"></i>
                                <span>Logout</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>