<!-- views/partials/navbar.ejs -->
 
<nav class="navbar navbar-expand-lg fixed-top navbar-compact">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/favicon.ico" alt="Logo" class="me-2 logo-small">
            <span class="navbar-brand-text">SkillBridge</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <form class="d-flex mx-auto w-35">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Cerca" aria-label="Cerca">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="bx bx-search"></i>
                    </button>
                </div>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <button class="btn btn-link nav-link" aria-label="Chat">
                        <i class="bx bx-chat"></i>
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <img src="/img/profile.png" alt="Profile" class="rounded-circle profile-image-small">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/profile"><i class="bx bx-user me-2"></i>Profilo</a></li>
                        <li><a class="dropdown-item" href="#" id="info-link"><i class="bx bx-info-circle me-2"></i>Informazioni</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="/logout" method="POST">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="bx bx-log-out me-2"></i>Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>