<!-- views/partials/navbar.ejs -->

<nav class="navbar">
    <div class="navbar-left">
        <a href="/">
            <img src="/img/favicon.ico" alt="Logo">
            <span>SkillBridge</span>
        </a>
    </div>
    <div class="navbar-center">
        <input type="text" class="navbar-search" name="searchbar" placeholder="Cerca">
    </div>
    <div class="navbar-right">
        <button class="btn search-btn">
            <i class="bx bx-search"></i>
        </button>
        <button class="btn chat-btn">
            <i class="bx bx-chat"></i>
        </button>
        <button class="btn mode-toggle">
            <i class="bx bx-sun"></i>
        </button>
        <a href="/profile" class="navbar-profile">
            <img src="/img/profile.png" alt="Profile">
        </a>
    </div>
</nav>