<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SkillBridge</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('partials/navbar') %>
    <% if (showOnboardingAlert) { %>
        <div class="alert-onboarding">
            Ancora qualche passo per completare il tuo profilo.
            <a href="/onboarding" class="btn-primary">Completa l'onboarding</a>.
        </div>
    <% } %>  
</body>

</html>