<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SkillBridge</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="left-section">
            <div class="brand">
                <img src="img/logo.png" alt="Logo" class="brand-logo">
                <span class="brand-name">SkillBridge</span>
            </div>
            <a href="/" class="back-btn">Ritorna al sito</a>
            <div class="tagline">
                <h3>Costruisci ponti,<br>sblocca opportunità.</h3>
            </div>
        </div>

        <!-- Sezione di destra (Form) -->
        <div class="right-section">
            <h2>Crea un account</h2>
            <p class="login-link">
                Hai già un account?
                <a href="#">Accedi</a>
            </p>

            <form>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Inserisci la tua email" required>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Inserisci il tuo username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Inserisci la tua password" required>
                <label for="confirm-password">Conferma Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Conferma la tua password" required>
                <div class="terms">
                    <input type="checkbox" id="terms" required>
                    <label for="terms">Accetto i <a href="#">Termini & Condizioni</a></label>
                </div>
                <button class="btn-primary" type="submit">Crea account</button>
            </form>
        </div>
    </div>

</html>