/* Navbar */
.navbar {
    background-color: #fff !important;
    border-bottom: 1px solid var(--color-border);
}
.navbar-brand-text {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
.navbar .searchbar {
    width: 45% !important;
}
.navbar-profile {
    width: 24px;
    height: 24px;object-fit: cover;
}
.navbar-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
}
.navbar-button:hover {
    background-color: var(--color-bg-input);
}
.navbar-button i {
    font-size: 1.25rem;
}

/* Alert */
.alert-general {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

/* Categorie */
.category-card:hover {
    background-color: var(--color-border);
}

/* Info */
.info-circle {
    width: 60px;
    height: 60px;
}

/* Cerca */
.search-highlight {
    background-color: rgba(211, 234, 80, 0.5);
    font-weight: normal;
    border-radius: 2px;
    font-weight: inherit;
}

/* Paginazione */
.pagination .page-link {
    color: var(--color-primary);
    border-color: var(--color-border);
}
.pagination .page-item.active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}
.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: var(--color-border);
}
.pagination .page-link:hover {
    background-color: #e9ecef;
    border-color: var(--color-border);
    color: var(--color-primary-hover);
}

/* Footer */
.footer .nav-link:hover {
    text-decoration: underline;
}

/* Media queries */
@media (max-width: 768px) {
    /* Navbar */
    .navbar-collapse.show form,
    .navbar-collapse.collapsing form {
        width: 100% !important;
        margin: 0.5rem 0;
    }
}