/* public/css/global.css */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --color-bg: #fff;
    --color-bg-gradient-start: #b9afd8;
    --color-bg-gradient-end: #887ea4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #000;
        --color-bg-gradient-start: #887ea4;
        --color-bg-gradient-end: #544a67;
    }
}

* {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}